@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Corporate Design Colors */

  /* Akzent 1: Hellblau */
  --color-hellblau: #5dabd2;
  /* Primary: Blau */
  --color-blau: #313192;
  /* Sub-Primary: Dunkelblau */
  --color-dunkelblau: #140d56;
  /* Neutral 1: Schwarz */
  --color-schwarz: #1d1d1b;
  /* Neutral 2: Weiß */
  --color-weiss: #ffffff;
  /* Akzent 2: Hellgrün */
  --color-hellgruen: #7cdb80;
  /* texte: Grau */
  --color-grau: #69727d;

  --color-hellgrau: #DEE0E3;

  --radius: 0.75rem;

  color-scheme: light;

  --background: #1d1d1b;
  --foreground: #1d1d1b;

  --card: #ffffff;
  --card-foreground: #1d1d1b;

  --primary: #313192;
  --primary-foreground: #ffffff;

  --muted: #f3f4f6;
  --muted-foreground: #596372;

  --border: #e5e7eb;
  --input: #e5e7eb;

  --ring: #5dabd2;
}

button {
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #313192;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 15px;
}

button:hover {
  background-color: #5dabd2;
}

button:focus,
button:focus-visible {
  outline: 3px auto #140d56;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
  }
}
